@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/*clear original checkpox style*/
input[type=checkbox] {
  /*visibility: hidden;*/
}

/*infinite*/
.checkbox {
	display: block;
}

.checkbox input[type=checkbox]:checked + label {
	 display: block;
    background-image: url(../images/1.png);
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: floating 2s infinite;
}

.checkbox label {
    display: block;
    background-image: url(../images/1.png);
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

/*the moment is clicked*/
.checkbox2 {
  display: inline-block;
}

.checkbox2 input[type=checkbox]:checked + label {
    display: block;
    background-image: url(../images/2.png);
    width: 80px;
    height: 80px;
    background-size: contain;
    animation-name: bounce;
    transform-origin: center bottom;
    animation-duration: 1s;
    animation-timing-function: 1;
}

.checkbox2 label {
    display: block;
    background-image: url(../images/2.png);
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}


.checkbox3 {
  display: inline-block;
}

.checkbox3 input[type=checkbox]:checked + label {
  display: block;
    background-image: url(../images/3.png);
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: top center;
    animation-name: swing;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.checkbox3 label {
    display: block;
    background-image: url(../images/3.png);
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}


.checkbox4 {
  display: inline-block;
}

.checkbox4 input[type=checkbox]:checked + label {
    display: block;
    background-image: url(../images/4.png);
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: buzz-out;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.checkbox4 label {
    display: block;
    background-image: url(../images/4.png);
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}


.checkbox5 {
  display: inline-block;
}

.checkbox5 input[type=checkbox]:checked + label {
    display: block;
    background-image: url(../images/5.png);
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: pop;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.checkbox5 label {
    display: block;
    background-image: url(../images/5.png);
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}


.checkbox6 {
  display: inline-block;
}

.checkbox6 input[type=checkbox]:checked + label {
    display: block;
    background-image: url(../images/6.png);
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: wobble-horizontal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.checkbox6 label {
    display: block;
    background-image: url(../images/6.png);
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}


.checkbox7 {
  display: inline-block;
}

.checkbox7 input[type=checkbox]:checked + label {
  display: block;
    background-image: url(../images/7.png);
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: tada;
    animation-duration: 1s;
    animation-timing-function: 1;
}

.checkbox7 label {
    display: block;
    background-image: url(../images/7.png);
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.checkbox8 {
  display: inline-block;
}

.checkbox8 input[type=checkbox]:checked + label {
    display: block;
    background-image: url(../images/8.png);
    width: 80px;
    height: 80px;
    background-size: contain;
    opacity: 1;
}

.checkbox8 label {
    display: block;
    background-image: url(../images/8.png);
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.4;
    transition: all 0.3s;
}
.checkbox9 {
  display: inline-block;
}

.checkbox9 input[type=checkbox]:checked + label {
    display: block;
    background-image: url(../images/9.png);
    width: 80px;
    height: 90px;
    background-size: contain;
    opacity: 1;
}

.checkbox9 label {
    display: block;
    background-image: url(../images/9.png);
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.4;
    transition: all 0.3s;
}
